* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

html {
    font-size: 16px;
}

ul, li {
    list-style: none;
}


.wrapper {
}

.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;

    height: auto;
}

.inputs {
    display: flex;
    justify-content: center;
}

input {
    width: 16%;
    height: 2rem;
    margin-right: 5px;
}
input:last-child {
    margin: 0;
}

.material {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    margin-bottom: auto;

    width: 100%
}

.material__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-right: none;

    width: 19%
}

.material__column:last-child {
    border-right: 1px solid;
}


.material__column li:last-child {
    border-bottom: none;
}

.material__item{
    width: 100%;
    border-top: 1px solid;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}


.column__title {
    padding: 0.7rem;
    min-width: 32px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





.result {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem
}

.result__item {
    margin-right: 20px;
}
.result__item:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}